.idea
*/target/
*.iml
*.class
*.lst
pom.properties
*.html
*.jar
.project
.settings

# Persist Files
persist/.settings
persist/.project
persist/.classpath
persist/.gitignore

# Api Files
api/.settings
api/.project
api/.classpath
api/.gitignore
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
